body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.bg-body-degrade {
  background-color: #080829;
  background-image: linear-gradient(
    43deg,
    #080829 0%,
    #b73bb0 46%,
    #b9860e 100%
  );
}

.bg-degrade {
  background-color: #de7810;
  background-image: linear-gradient(
    43deg,
    #de7810 0%,
    #944392 46%,
    #0509ff 100%
  );
}
.principal {
  background-image: url(../img/foto2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  object-fit: cover;
}

.redx {
  background-color: #de4700;
  background-image: linear-gradient(
    90deg,
    #de4700 0%,
    #2c0667 50%,
    #ab2164 100%
  );
}
